<!doctype html>
<html>

<head>
    <title>Are we flattening the curve? Data updated twice daily.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description"
        content="Projection of the coronavirus pandemic based on current trends. We update this page daily." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="lib/vue.js"></script>
    <script src="lib/Chart.js"></script>
    <script src="lib/chartjs-plugin-annotation.js"></script>
    <script src="lib/jquery-3.5.0.min.js"></script>
    <link href="styles.css" rel="stylesheet" media="screen" />


</head>

<body>
    <div class="title">

        <h1>Are we <a href="https://www.livescience.com/coronavirus-flatten-the-curve.html" target="_blank">flattening
                the curve?</a></h1>
    </div>


    <div id="mainApp">
        <div id="regionSelectSection">
            <span class="selectText">Select a region:</span>
            <select v-model="activeRegion" v-on:change="changeRegion" class="regionSelection">
                <option v-for="(region, option) in regionData" v-bind:value="option">
                    {{ option }}
                </option>
            </select>

        </div>

        <h2 class="weAre" v-bind:class="{ weAreNot:  region.areWe == 'No' }">{{region.areWe}}.</h2>
        <span v-if="region.areWe == 'Yes' ">
            Our projection is better than it was 5 days ago, but further efforts need to be made.
        </span>
        <span v-if="region.areWe == 'No' ">
            Our projection is worse than it was 5 days ago. Further efforts need to be made.
        </span>
        At the current contagion rate, we <a href="#methodology">could overwhelm the health care system</a> by
        <b>{{region.healthCareLimitDate.toLocaleDateString("en-US", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})}}</b>.
        <div id="chartButtons">
            <div class="chartButton " v-on:click="bigPicture"
                v-bind:class="{ chartButtonInactive: activeChart != 'bigPicture' }">
                Complete picture</div>
            <div class="chartButton " v-on:click="nearFuture"
                v-bind:class="{ chartButtonInactive: activeChart != 'nearFuture' }">
                Near future</div>
            <div class="chartButton " v-on:click="animatedChart"
                v-bind:class="{ chartButtonInactive: activeChart != 'animatedChart' }">
                Animation</div>

        </div>
        <div id="chartParent">

            <canvas id="growthChart"></canvas>
        </div>

        <p class="note">
            Trends change daily based on the efforts made by governments
            and citizens. You can see the evolution of the trend by comparing the current projection with the projection
            from 5 days ago, 10 days ago, and the one from {{region.labels[region.fixComparition]}}, when there were
            {{region.totals[region.fixComparition].toLocaleString()}}
            active cases.
        </p>
        <p v-if="region.lastDate" class="disclaimer">
            Data updated <a href="https://github.com/pomber/covid19" target="_blank"></a>3 times daily</a> from the
            Johns Hopkins CSSE repository.
            Last day measured: {{region.lastDate}} .
        </p>



        <h2 id="methodology">Methodology</h2>
        <p>
            <b>Health care system capacity</b>. It is estimated that <a
                href="https://www.nytimes.com/2020/03/22/opinion/health/ventilator-shortage-coronavirus-solution.html"
                target="_blank">{{(ventilatorRate*10000/100).toLocaleString()}}% of cases require ventilators</a>.
            We are defining the capacity of the health care system by the number of available ventilators.
            We currently have <b v-html="region.ventilatorsSituation"></b>. When we reach
            <b>{{region.healthCareLimitCalculated.toLocaleString()}}</b> active cases, we will need
            <b>{{(Math.round(region.healthCareLimitCalculated*ventilatorRate)).toLocaleString()}} </b>.
            It may be noted that a big percentage of ventilators are normally in use for other types of patients,
            so the health care system might actually be overwhelmed much sooner.
        </p>
        <p>
            <b>Projection of active cases</b>. This is what the future would look like if the contagion rate remained
            constant as it is today. However, the contagion rate itself varies as the result of efforts made by
            governments
            and citizens and it has its own trend,
            visible in the comparison with previous projections. </p>
        <p>
            To calculate the projection, we take the average increase of the last {{daysForTrend}} days and
            project it into the future until we reach the point
            where {{(totalInfectionEstimate*10000/100).toLocaleString()}}% of the population has been infected
            (estimates for total infection vary from <a
                href="https://www.washingtonpost.com/health/coronavirus-forecasts-are-grim-its-going-to-get-worse/2020/03/11/2a177e0a-63b4-11ea-acca-80c22bbee96f_story.html"
                target="_blank">
                40% to 80%</a>).
            We linearly decrease the growth rate as more people get infected, and subtract the cases that
            are more than <a
                href="https://www.who.int/docs/default-source/coronaviruse/who-china-joint-mission-on-covid-19-final-report.pdf"
                target="_blank">{{recoveryDays}} days</a> old (average recovery time).
        </p>
        <p>
            <b>Long term trend</b>. In the <i>near future</i> view you can see the long term trend curve. This is based
            on the variation
            of daily increases instead of the variation in the total number of cases. As a result, this curve is an
            early
            indicator of future trends, but it's also less reliable and subject to sudden changes. To make it a litttle
            bit more stable,
            we compare the average daily increase of the last 5 days with the average daily increase of the 5 days
            before those.
        </p>
        <p>
            <b>Fatalities</b>. This is even more guesswork than the rest,
            <a href="https://ourworldindata.org/coronavirus#what-do-we-know-about-the-risk-of-dying-from-covid-19"
                target="_blank">given the uncertainty</a>.
            We are currently calculating based on a case fatality rate of
            {{(fatalityRateOptimal*10000/100).toLocaleString()}}% before the health care system gets overwhelmed and
            {{(fatalityRateSuboptimal*10000/100).toLocaleString()}}% after.
        </p>
        <p>
            We will adjust all these numbers over time.
        </p>

        <h2>Issues/suggestions</h2>
        <p>
            You can open an issue in the <a href="https://github.com/cronopista/areweflatteningthecurve/issues"
                target="_blank">Github site</a> for this page
            if you think that the methodology can be improved or the data is incorrect.
        </p>
        <p>
            If you would like to see your region, you can also get in touch through <a
                href="https://github.com/cronopista/areweflatteningthecurve/" target="_blank">Github</a>
            or even grab the code and start your own site.

        </p>


    </div>
    <script src="data.js"></script>
    <script src="calculator.js"></script>
    <script src="app.js"></script>

</body>

</html>