body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    margin-bottom: 60px;
}

#mainApp {
    width: 1000px;
    margin: auto
}

#chartParent {
    position: relative;
    margin-bottom: 60px;
    height: 70vh;
   
}


#chartButtons {
    border-bottom: 1px solid #555;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap ;
    
}

.chartButton {
    height: 40px;
    line-height: 40px;
    padding: 10px;
    font-size: 18px;
    border-bottom: 4px solid transparent;
}

.chartButtonInactive {
    color: #999;
    cursor: pointer;
}

.chartButtonInactive:hover {
    border-bottom: 4px solid  rgba(255, 166, 0, 0.411);
}


#regionSelectSection{
    padding-top: 10px;
    padding-bottom: 20px;
}

.selectText{
    font-size: 25px;
    color: #999;
    margin-right: 20px;
}

.regionSelection{
    height: 50px;
    font-size: 28px;
    border: 1px solid #efefef;
    color: #999;
    font-weight: bold;
    background-color: white;
    margin-top: 10px;
}

.weAre{
    font-weight: bold;
    color: green;
}

.weAreNot{
    color: red;
}

.note{
    background-color: rgb(255,255,55,0.2);
    padding: 15px;
    border: 1px solid rgb(255,255,55,1);
    border-radius: 10px;
    font-size: 10pt;
}

a{
    color: black;
}

.disclaimer{
    font-size: 11pt;
}

.title{
    background-color: #005;
    padding: 20px;
    color: whitesmoke;
}

.title h1{
    width: 1000px;
    margin: auto;

}

.title h1 img{
    width: 40px;
  
}

.title a{
    color: whitesmoke;
}

[v-cloak] {
    display: none;
}

@media only screen and (max-width: 1000px) {
    #mainApp { 
        width: 90vw;
    } 

    #chartParent {
        height: 400px;
       
    }

    .title{
        font-size: 14px;
        
    }
    
    .title h1{
        width: 90vw;
    }
}